@import "./reset.css";
@import "./add-book.css";
@import "./book.css";

.hidden {
    position: fixed;
    left: -999px;

}

html {
    font-size: 62.5%;
    font-family: roboto, arial;
}

a {
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    height: 10rem;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: white;
}

header h1 {
    text-transform: capitalize;
    font-size: 3rem;
    
}

main {
    position: relative;
    background-color: #eeeeee;
    min-height: calc(100vh - 10rem - 5rem);
}

.library h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem;
}

.books {
    margin: 2rem;
    display: grid;
    gap: 3rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--book-witdh));
}

footer {
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 1.4rem;
    background-color: white;
}

footer p {
    display: inline;
}

footer a {
    transition: 0.2s;
}

@media (hover: hover) {

    footer a:hover {
        color: #DE3018;
        transition: 0.2s;
    }
}